button{
	height:50px;
	width:50px;
	font-size: 20px;
	margin-left: 5px;
}
button.pogresno{
	background-color: #b30000;
	color: rgb(99, 99, 99);
}
button.pogodjeno{
	background-color: #00b300;
	color: rgb(99, 99, 99);
}
header{
	text-align: center;
	font-family: 'Times New Roman', sans-serif;
	background-color: #ca1e66;
	color: white;
	width: 100%;
  	margin: 0;
  	padding: 1px;
}
body{
	background-color: #f189c993;
	padding:0;
	margin:0;
}
main{
	margin-left: 8%;
}
#reset{
	background-color: #ca1e66;
	color: white;
	float: right;
	margin-right: 8%;
	width: 150px;
}