@keyframes slideleft{
    from{
        background-position:0%;
    }
    to{
        background-position:70000%;
    }
}
body{
    overflow: hidden;
}
#pustinja{
    position:absolute;
    background-image: url('zemlja.png');
    width: 100%;
    height: 23px;
    top: 50%;
    animation: slideleft 1000s linear infinite;
}
.dino{
    position:absolute;
    background-image: url('dino.png');
    width: 90px;
    height: 90px;
    bottom: 0;
}
.kaktus{
    position:absolute;
    background-image: url('kaktus.png');
    width: 50px;
    height: 95px;
    bottom: 0;
}
#kraj{
    font-size: 50px;
    color: red;
    position:fixed;
    top:5px;
}
#igrajPonovo{
    position: fixed;
    top: 110px;
    font-size: 20px;
    padding: 7px 15px;
}
#skor{
    position: fixed;
    top: -31px;
    font-size: 40px;
}